
body {
  padding: 0;
  margin: 0;
}
#intro {
  display: none;
}

#no-message {
  display: none;
}

#yes-instructions {
  display: none;
}

#Ihateyou {
  display: none;
}

#winner-of-pong {
  display: none;
}
