/* paragraphe appearance */
p{
  font-size: 20px;
  text-indent: 30px;
  margin: 20px;
  margin-top: 80px;
}

/* redacted appearance */
.redacted{
  background-color: black;
  color: transparent;
}
/* revealed appearance */
.revealed {
  background-color: transparent;
  color: red;
}
